<!DOCTYPE html>
<html lang="en">
<head>
    <link href="style.css" type="text/css" media="screen"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/css/mdb.min.css" rel="stylesheet">
    <style>
        .center {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .text-center {
            position: fixed;
            top: 50%;
            left: 50%;
            width: 25%;
            transform: translate(-50%, -50%);
            background-color: white;
            border-radius: 25px;

        }

        body {
            background-color: black;
        }


    </style>
<body>

<nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <a class="navbar-brand" href="#">Simple Upload</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

    </div>
</nav>

<video style="background-color: black" class="text-center" width="300" height="300" controls>
    <source type="audio/mp3" src="/audio/<%=audio%>.mp3">
    <track kind="subtitles" srclang="de" label="german" src="/audio/<%=audio%>.vtt">
</video>
<br>
<br>




</body>
</html>